<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Media</title>
  </head>
  <body>
    <h1>Upload Media</h1>
    <form action="/medias" method="post" enctype="multipart/form-data">
      <input type="file" name="media" />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
